    :root {  
        --color-primary: #D8C3A5;  
        --color-primary-light: #d8b17b;  
        --color-primary-dark: #d8b17b;  
        --color-white: #14120b;  
    }  
    @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*,  
*::before,  
*::after {  
    margin: 0;  
    padding: 0;  
    box-sizing: inherit;  
}  


body {  
    box-sizing: border-box;  
    font-family: sans-serif;  
    min-height: 100vh;
    overflow-x: hidden;
}  
html, body {
    font-size: 16px !important; /* This is a common base font size */
    font-family: sans-serif;
    scroll-behavior: smooth
  }

body::-webkit-scrollbar {
    display:none;
}

/*Page 1*/
.header {  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: var(--color-primary);  
    padding: 0 8%;  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    z-index: 1000; 
    /* height: 50px; */
}  

.logo{
    width: 300px;
    height: fit-content;
}

.logo img{
    width: 35%;
    filter: drop-shadow(2px 2px 2px rgba(90, 51, 37, 0.833));
}  

.navigation ul {  
    list-style: none;  
    display: flex;
}  

.header .navigation ul li {  
    position: relative;  
}  

.header .navigation ul li a {  
    font-size: 20px;  
    color: var(--color-white);  
    text-decoration: none;  
    padding: 20px;  
    display: block;  
    transition: all 0.2s ease;  
}  

.header .navigation ul li a:hover {  
    background: var(--color-primary-light);  
}  

.header .navigation ul li ul {  
    position: absolute;  
    right: 0;  
    width: 300px;  
    background: var(--color-primary);  
    display: none;  
}  

.header .navigation ul li ul li a {  
    font-size: 15px;  
    text-transform: capitalize;  
}  

.header .navigation ul li ul li {  
    width: 100%;  
    border-top: 1px solid var(--color-primary-light);  
}  

.header .navigation ul li:hover > ul {  
    display:block;  
}  

.header .navigation ul li ul li span {  
    float: right;  
    color: var(--color-white);  
    background: var(--color-primary-dark);  
    padding: 5px 10px;  
    font-size: 12px;  
    text-align: center;  
    border-radius: 5px;  
}  

.glow-button {  
    padding: 20px 10px;  
    border: none;  
    background-color: #D8C3A5;
    border-radius: 450%; 
    color: black;  
    font-size: 20px;  
    cursor: pointer;  
    outline: none;  
    margin-left: 80px;
    transition: box-shadow 0.3s ease, transform 0.2s ease; 
}  

.glow-button:hover {  
    transform: scale(1.05);   
    background: var(--color-primary-light); 
}  

.glow-button:active {  
    transform: scale(0.95);  
}  

.hero {  
    position: relative;  
    min-height: 100vh;  
    overflow: hidden;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center;  
    color: white;  
    z-index: 2;  
    box-shadow: 0 2px 3px rgb(69, 37, 24);
}  

.hero::before {  
    content: "";  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));  
    z-index: 1;  
}  

.video-bg {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    transform: translate(-50%, -50%);  
    z-index: 0;  
}  

.block {  
    position: absolute;  
    top: 40%;  
    left: 30%;  
    transform: translate(-50%, -50%);  
    z-index: 2;  
    max-width: 700px;  
    padding: 20px;  
    background: transparent;
    border-radius: 10px;  
    text-align: center;

}  

.block h1 {  
    padding: 0%;
    margin: 0%;
    font-size: 3rem;  
    margin-bottom: 20px;  
    font-family: Verdana;
    text-transform: uppercase;
    text-align: left;
}  

.block h3::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 40%;
    border-radius: 70%;
}

.block h3 {  
    font-size: 1.5rem;  
    font-family: serif; 
    width: 100%; /* Full width */  
    height: 4px; /* Adjust height as needed */  
    border-radius: 50%; /* Rounded edges */  
    margin: 10px 0;
    color: white;
}  
.book-ticket {
    position: absolute;  
    padding: 15px 30px;               
    border: none;                       
    background-color: #D8C3A5;         
    color: black;                    
    font-size: 20px;                 
    border-radius: 5px;               
    cursor: pointer;                   
    transition: background-color 0.3s ease, transform 0.2s ease;   
    margin-top: 20px;                 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
    text-align: left; /* Align button text to the left */
    margin-top: 200px; 
    margin-left: -100px;   
    
} 

.book-ticket a{
    text-decoration: none;
    color: inherit;
}

.book-ticket:hover {  
    background-color: var(--color-primary-light); 
    transform: scale(1.05);   
}  

.book-ticket:active {  
    transform: scale(0.95);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
}

.hero img{
    position:absolute;
    top:20%;
    right:10%;
    filter: brightness(1.5);
    filter: brightness(1.5) drop-shadow(5px 5px 5px black);
    animation: model 5s infinite;
}

@keyframes model{
    0%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
    
}


/*chat box*/
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    border-radius: 50px;
}


.chat-popup {
    display: flex;
    align-items: center;
    background-color: #D8C3A5;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#chat-popup-btn {
    background-color: #D8C3A5; 
    border: none;
    padding: 0px 15px; 
    cursor: pointer;
    width: 50px; /* Initial width for just the icon */
    height: 50px;
    display: flex;
    align-items: center;
    gap: 8px; 
    transition: width 0.3s ease, padding 0.3s ease; /* Smooth transition */
    overflow: hidden; /* Hide the text initially */
    white-space: nowrap;
}

#chat-popup-btn img{
    width: 100%;
    height: auto;
    transform: scale(2.5);
} 


.chatbot-container:hover {
    transform: scale(1.2);
    box-shadow: 0px 2px 5px rgb(55, 19, 19);
}

/* page 2*/
.current-exhibition {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    height: fit-content;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.section-title {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: -1px -1px 0px rgba(78, 40, 11, 0.922),
    3px 3px 0px rgb(146, 91, 59),
    6px 6px 0px #00000042;
    animation: autoshow2 both;
  animation-timeline: view(70% 30%);
}
@keyframes autoshow2 {
    from{
      opacity: 0;
      transform: scale(0.4);
      transform: translateY(200px);
    }
    to{
      opacity: 1;
      transform:scale(1);
      transform: translateY(0);
    }
    
  }

.section-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
    animation: autoshow2 both;
  animation-timeline: view(70% 30%);
}

.exhibition-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.exhibition-item {
    width: 500px;
    background-color: #D8C3A5;
    border: 1px solid #160909;
    padding: 25px;
    height:80%;
    box-shadow: 0 2px 5px rgba(8, 8, 8, 0.2);
    transition: box-shadow 0.6s ease;
    border-radius: 2%;
}

.exhibition-item:hover {
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
}

.exhibition-item img {
    width: 100%;
    height: auto;
}

.exhibition-title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.exhibition-dates {
    font-size: 14px;
    color: #999;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D8C3A5;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d8b17b;
    margin: 20px 0;
}
.containerjsx {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.current-exhibition {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seven{
    animation: autoshow2 both;
  animation-timeline: view(70% 30%);
}

.seven h1 {
    text-align: center;
        font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
        color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #c50000;
        border-top: 1px solid #c50000;
        height: 5px;
      background-color:#f8f8f8;
    }

.section-title {
    margin-top: -30px;
    font-size: 60px;
    margin-bottom: 10px;
}

.section-description {
    font-size: 19px;
    color: #423c3c;
    margin-bottom: 40px;
}

.exhibition-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

figure {
    display: grid;
    border-radius: 0.7rem;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 10px grey;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: center;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
       /* Standard CSS */
mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
mask-composite: xor;
mask-clip: text, padding-box;

/* Vendor-prefixed versions for browser compatibility
-webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
-webkit-mask-composite: xor;
-webkit-mask-clip: text, padding-box; */

    margin: -1px;
    color: white;
  }

  figure figcaption span{
    font-size: 20px;
    align-items: baseline;
  }

  figure:hover figcaption{
    --_i: 0%;
  }
  figure img {
    width: 100%;  /* Make the image scale to fill the width of the figure */
    height: 100%; /* Make the image scale to fill the height of the figure */
    object-fit: cover;  /* Ensures the image covers the entire figure without distortion */
    margin: 0;  /* Remove any unwanted margins */
    transform: none; /* Remove scaling effect */
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }

  @media (max-width: 700px){
    .exhibition-grid{
        flex-direction: column;
    }
}

.exhibition-item {
    width: 300px;
    background-color: #D8C3A5;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.exhibition-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.exhibition-title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.exhibition-dates {
    font-size: 16px;
    color: #110707;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D8C3A5;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 15px 20px;  

}

.btn:hover {
    background-color: #d8b17b;
}

.container1 {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 60vh;  
    background-image: url('./b1.png'); 
    background-size: cover; 

    background-position: center;  
}  

.contentjsx {  
    background-color: rgba(194, 191, 191, 0.662); 
    height: fit-content;
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: -15px 11px 22px 4px rgba(20, 20, 20, 0.75);
    text-align: center; 
    animation: autoshow2 both;
    animation-timeline: view(70% 30%);
    /* box-shadow: 10px 10px; */
  

}  

.contentjsx h2 {  
    margin: 30px;  
    background-image: linear-gradient(to right, #6a11cb, #2575fc);  
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
    font-size: 3rem; 
} 
.contentjsx h2 span{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
} 

.contentjsx p {  
    margin: 0 0 20px;
    font-size: 1.5rem;  
}  

.event-button {  
    display: inline-block;  
    padding: 15px 20px;  
    background-color: #d8b17b; 
    color: black;  
    text-decoration: none;  
    border-radius: 5px;  
    transition: background-color 0.3s;
    font-size: 20px;  
}  

.event-button:hover {  
    background-color: #D8C3A5;   
}

.scrolltext {
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position:relative;
}

.scrolltext img {
    height: 100%;
    display: inline-block;
    margin-right: -5px; /* Remove any margin between images */
    animation: move-rtl 5s linear infinite;
}
.scrolltext-2{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: absolute;
    left: 0%;
    bottom: 30%;
}
.scrolltext-h1{
    font-size: 40px;
    color: #7e4a35;
    background-color: rgba(253, 253, 253, 0.397); 

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(190, 168, 168);
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 11s linear infinite;

}

@keyframes move-rtl {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*Page-3*/
.container3 {
    margin: 0 auto;
    padding: 1px;
    background-color: #ccc1b4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.upcoming-events {
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    color:black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.upcoming-events::before, .upcoming-events::after
{
    content: "";
    height: 3px;
    background-color: #0e0c0c;
    display: block;
}
.gallery-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 0px;
    background-color: #d8cec1;
}

.gallery-item {
    background-color: #fff;
    border-radius: 0px;
    overflow: hidden;
    margin: 20px;
    max-width: 400px;
    text-align: center;
    background-color: #d8cec1;
    height: 500px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-info {
    padding: 15px;
    margin-left: -3%;
}

.gallery-info h3 {
    text-align: left;
    margin: 10px 0;
    font-size: 27px;
    color: #202020;
}

.gallery-info p {
    margin: 5px 0;
    color: #888;
    font-size: 16px;
    text-align: left;
}

.book-button {
    background-color: #9b7b47;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    align-items: left;
    margin-top: 20px;
}
.book-button a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 0;
}
.d2{
   align-items:baseline;
    background-color: #d8cec1;
}

.book-button:hover {
    background-color: #e0a774;
}
 /*Page-4*/
 .curator{
    background-color: #6E6658;
 }
     
    
    
   
 /**********************************************************/
 /*Page 5*/  
 .parallax {  
    /* The image used */  
    background-image: url('./outside\ image\ of\ museum.webp');  
    /* Set a specific height */  
    height: 100vh;   
    /* Create the parallax scrolling effect */  
    background-attachment: fixed;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;  
    position: relative;  
} 
#hero1 {
    background-image: url('museum-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero1-text {
    text-align: center;
    color: #fff;
    max-width: 600px;
}

.hero1-text h1 {
    /* font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
     */
     color: white;
font-family: impact;
font-size: 5rem;
line-height: 1;
text-align: center;
text-transform: uppercase;
position: relative;
text-shadow: -5px 5px 0.5px rgb(56, 46, 32), 2px 2px 1px rgba(228, 77, 77, 0.228);

}
.hero1-text h1::before {
    color: #000;
    content: attr(data-text);
    margin-top: 0.875rem;
    opacity: 0.7;
    transform: perspective(200px) rotateX(40deg) scale(0.83);
    z-index: -1;
  }
.hero-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero1-text p {
    font-size: 18px;
    line-height: 1.6;
} 

/*Page-6*/
/*Page-6*/

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");

:root {
  --light: #ffffff;
  --dark: #000;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
a:hover {
  border-bottom: 1px solid var(--dark);
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  appearance: none;
  border: 0;
  background: transparent;
}
.flex {
  display: flex;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: var(--light);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.containerjsx {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}

input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
form {
  position: relative;
}
svg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 3.5rem;
}
.footer_copyright {
  color: var(--light);
}


@media (max-width: 950px) {  
    .header label {  
        display: initial;  
    }  


}
.gallery-collages-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8cec1;
}

.gallery {
    --s: 150px; /* control the size */
    --g: 10px;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
    margin: 60px 10px;
  }
  
  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }
